<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Live coding: vue-form</title>
</head>

<body>
    <div id="app" class="flex flex-col content-center flex-wrap p-4 gap-4">
        <h1 class="text-4xl font-semibold">Form Handling con Vue</h1>

        <form action="" class="flex flex-col content-start gap-2">
            <!-- value="HTML Initial Value" -->
            <!-- <input type="text" class="bg-neutral-100 rounded px-2 py-1 border-2 border-black"
            :value="msg"
            @input="msg=$event.target.value"
            > -->
            <!-- @input="updateName('Evento attivato', $event)" -->

            <label for="">Your Name: </label>
            <input type="text" class="bg-neutral-100 rounded px-2 py-1 border-2 border-black"
            v-model="msg">
            <p v-if="msg">{{ msg }}</p>

            <label for="">Your Age: </label>
            <input type="text" class="bg-neutral-100 rounded px-2 py-1 border-2 border-black"
            v-model.number="age"
            >

            <label for="">Your Message: </label>
            <input type="text" class="bg-neutral-100 rounded px-2 py-1 border-2 border-black"
            v-model.trim="msg">
            <p v-if="msg">{{ msg }}</p>
        </form>

        <!-- <button type="submit" class="bg-sky-500 rounded w-fit px-2 py-1">Submit</button> -->

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="index.js"></script>
</body>

</html>